<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h2>Rezervasyon Yap: <%= hotel.name %>
  </h2>
  <p><strong>Konum:</strong>
    <%= hotel.location %>
  </p>
  <p><strong>Fiyat:</strong>
    <%= hotel.price_per_night %> ₺ / gece
  </p>

  <form method="POST" action="/kiraci/rezervasyon/<%= hotel.id %>">
    <input type="date" name="start_date" min="<%= available ? available.start_date.slice(0,10) : '' %>"
      max="<%= available ? available.end_date.slice(0,10) : '' %>" required>


    <label>Çıkış Tarihi:</label>
    <input type="date" name="end_date" min="<%= available ? available.start_date.slice(0,10) : '' %>"
      max="<%= available ? available.end_date.slice(0,10) : '' %>" required>


    <label>Kişi Sayısı:</label><br>
    <input type="number" name="guest_count" min="1" max="<%= hotel.max_guests %>" required><br><br>

    <button type="submit">Rezervasyonu Tamamla</button>
  </form>

</body>

</html>