<html lang="tr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gelen Rezervasyonlar</title>
  <link rel="stylesheet" href="/css/duzenle-hotel.css">
</head>

<body>
  <%- include('../inc/nav.ejs') %>

    <div class="title">
      <div class="section-title">
        <hr>
        <h2>Gelen Rezervasyonlar</h2>
        <hr>

      </div>

    </div>

    <div class="reservations-container">
      <% rezervasyonlar.forEach(r=> { %>
        <div class="reservation-card">
          <h3>
            <%= r.Hotel.name %>
          </h3>
          <p><strong>Giriş:</strong>
            <%= r.start_date %>
          </p>
          <p><strong>Çıkış:</strong>
            <%= r.end_date %>
          </p>
          <p><strong>Kişi Sayısı:</strong>
            <%= r.guest_count %>
          </p>
          <p><strong>Durum:</strong>
            <%= r.status %>
          </p>
          <p><strong>Rezervasyon Sahibi:</strong>
            <%= r.User ? r.User.username : "Bilinmiyor" %>
          </p>

          <div class="reservation-actions">
            <form action="/host/rezervasyonlar/sil/<%= r.id %>" method="get">
              <button class="btn delete" onclick="return confirm('Silinsin mi?')">Sil</button>
            </form>

            <% if (r.status !=='confirmed' ) { %>
              <form action="/rezervasyonlar/onayla/<%= r.id %>" method="post">
                <button class="btn confirm">Onayla</button>
              </form>
              <% } %>
          </div>
        </div>
        <% }) %>
    </div>
</body>

</html>